.cartproduct{
    width:100%;
    height:200px;
    background-color:rgb(235, 230, 226);
    display:flex;
    gap: 10px;
    margin-bottom: 10px;
}
.cartproduct .img{
    width:200px;
    height:200px;
}
.cartproduct .img img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.cartdetails{
    width:600px;
}
.cartdetails p{
    margin-bottom: 20px;
}
.cartdetails h3{
    margin-bottom: 20px;
}
.cartdetails .btn-grp button{
    width:50px;
    height:40px;
    background-color:teal;
    color: white;
    border: #0e0e0e;
}

.cartdetails p{
    font-size: 18px;
    font-weight: 500;
}
.btn-grp {
   display: flex;
   gap: 10px;
}